.form-container form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .form-container form input[type="text"],
  .form-container form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .form-container form input[type="text"]:hover,
  .form-container form textarea:hover {
    border-color: #999;
  }
  
  .form-container form input[type="text"]::placeholder,
  .form-container form textarea::placeholder {
    color: #999;
  }